<html>
    <head>
        
    </head>
    <bod>
        <form action="/userregister" method="Post">
            <input type="text" name="username">
            <input type="password" name="password">
            <button type="submit"> submit</button>
        </form>
    </bod>
</html>